* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Main section */
main {
  background-image: url(images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  height: 300px;
  justify-self: center;
  margin-top: 30px;
}
.main-title {
  color: rgb(247, 247, 243);
  width: 60%;
  height: 100%;
  text-align: center;
  justify-self: center;
  align-content: center;
}
.main-title span {
  font-size: 1.5em;
}
.main-title p {
  font-size: 3em;
}
/*All CATEGORIES section */
.CATEGORIES {
  width: 90%;
  height: 100%;
  justify-self: center;
  text-align: center;
  margin-top: 30px;
}
.CATEGORIES img {
  width: 50%;
  padding: 10px;
  height: 100%;
}
.discount {
  width: 60%;
  height: 100%;
  justify-self: center;
  align-content: center;
}
.discount span {
  font-size: 2.5em;
  color: #ff0000;
}
.discount p {
  font-size: 1.5em;
}
.deals {
  font-size: 0.7em !important;
  color: #ff0000;
}
/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  /* Main section */
  main {
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    height: 300px;
    justify-self: center;
    margin-top: 0;
  }
  .main-title {
    width: 100%;
    /* height: 100%; */
    text-align: center;
    justify-self: center;
    align-content: center;
  }
  .main-title span {
    font-size: 1em;
  }
  .main-title p {
    font-size: 1.5em;
  }
  /*All CATEGORIES section */
  .CATEGORIES {
    width: 90%;
    height: 100%;
    margin-top: 0px;
  }
  .CATEGORIES img {
    width: 50%;
    padding: 10px;
    height: 100%;
  }
  .discount {
    width: 60%;
    height: 100%;
  }
  .discount span {
    font-size: 2em;
  }
  .discount p {
    font-size: 1.2em;
  }
  .deals {
    font-size: 0.5em !important;
  }
}
