* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
/* Main section */
.Main {
  background: url(./images/Banner-Image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  margin-top: 10px;
  justify-self: center;
  border-radius: 5px;
}
.main-title {
  color: rgb(247, 247, 243);
  width: 60%;
  height: 300px;
  text-align: center;
  justify-self: center;
  align-content: center;
}
.main-title span {
  font-size: 2em;
}
.main-title p {
  font-size: 4em;
}
/*All CATEGORIES section */
.CATEGORIES {
  width: 90%;
  height: 100%;
  justify-self: center;
  text-align: center;
  margin-top: 30px;
}
.CATEGORIES img {
  width: 50%;
  padding: 10px;
  height: 100%;
}
.discount {
  width: 60%;
  height: 100%;
  justify-self: center;
  align-content: center;
}
.discount span {
  font-size: 2.5em;
  color: #ff0000;
}
.discount p {
  font-size: 1.5em;
}
.deals {
  font-size: 0.7em !important;
  color: #ff0000;
}
/* Welcome to midnight party section */

.Welcome {
  display: flex;
  width: 90%;
  height: 100%;
  gap: 10px;
  justify-self: center;
  justify-content: space-around;
  background: url(./images/Vectorrr.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.party {
  width: 45%;
  padding-left: 10px;
  align-content: center;
}
.party span {
  font-size: 3em;
  color: white;
  font-weight: bolder;
  padding: 10px 0;
}
.party p {
  font-size: 1em;
  opacity: 80%;
  color: white;
  padding: 5px 0;
}
.btn {
  width: 30%;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  padding: 20px 0;
  background-color: transparent;
}
.year {
  width: 45%;
  padding: 20px;
  align-items: end;
}
.year img {
  width: 70%;
}

/* New Park Hotel  section*/
.Hotel {
  width: 50%;
  height: 200px;
  gap: 10px;
  justify-self: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 100px 0;
}
.Place {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
}
.place {
  color: #ff0000;
}
.Date {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}
.date {
  color: #ff0000;
}
.Time {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
}
.time {
  color: #ff0000;
}
.Join {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  background-color: #ff0000;
}
/* New Best Offer section */
.Coming-Soon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  gap: 10px;
  justify-self: center;
}
.Offer {
  align-content: center;
}
.new {
  color: #ff0000;
  font-size: 1em;
  font-weight: bold;
}
.soon {
  font-size: 2em;
  font-weight: bold;
}
.offer-info {
  color: #070211;
  opacity: 60%;
}
.Celebration {
  align-content: center;
  text-align: center;
  height: 300px;
}
.Celebration img {
  border: 7px solid #ff0000;
  border-radius: 50%;
  padding: 10px;
  width: 90%;
}
.Happy {
  align-content: center;
}
.Happy img {
  width: 50%;
}
.happy-year {
  color: #ff0000;
  font-weight: bolder;
  font-size: 2em;
}
/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  /* Main section */
  .main-title {
    width: 60%;
    height: 200px;
  }
  .main-title span {
    font-size: 1.2em;
  }
  .main-title p {
    font-size: 2.5em;
  }
  /*All CATEGORIES section */
  .CATEGORIES {
    width: 90%;
    height: 100%;
    margin-top: 0px;
  }
  .CATEGORIES img {
    width: 50%;
    padding: 10px;
    height: 100%;
  }
  .discount {
    width: 60%;
    height: 100%;
  }
  .discount span {
    font-size: 2em;
  }
  .discount p {
    font-size: 1.2em;
  }
  .deals {
    font-size: 0.5em !important;
  }
  /*All CATEGORIES section */
  .CATEGORIES {
    width: 90%;
    height: 100%;
    margin-top: 20px;
  }
  .CATEGORIES img {
    width: 50%;
    height: 100%;
  }
  .discount {
    width: 60%;
    height: 100%;
  }
  .discount span {
    font-size: 2em;
  }
  .discount p {
    font-size: 1.2em;
  }
  .deals {
    font-size: 0.5em !important;
  }
  /* Welcome to midnight party section */
  .Welcome {
    display: flex;
    width: 90%;
    height: 100%;
    gap: 0;
    border-radius: 5px;
    background-size: cover;
    justify-self: center;
    justify-content: space-around;
  }
  .party {
    width: 50%;
    padding-left: 10px;
    align-content: center;
  }
  .party span {
    font-size: 1.5em;
  }
  .party p {
    font-size: 0.5em;
  }
  .btn {
    width: 50%;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    padding: 10px 0;
    background-color: transparent;
  }
  .year {
    width: 50%;
    padding: 20px;
    align-content: center;
  }
  .year img {
    width: 80%;
  }
  /* New Park Hotel  section*/
  .Hotel {
    width: 70%;
    height: 150px;
    gap: 10px;
    margin: 50px 0;
  }
  .Place {
    display: flex;
    font-size: 1em;
  }
  .Date {
    display: flex;
    font-size: 1em;
    margin: 10px 0;
  }
  .Time {
    display: flex;
    font-size: 1em;
  }
  .Join {
    width: 80px;
    height: 30px;
    margin-top: 20px;
  }
}
